body{
	width: 100%;   
	height: 100%;   
	background: #58068C;
	overflow: auto;
	font-family: "Helvetica Neue", Helvetica, sans-serif;   
}
#user_info{
	font-size: 200%;
}
#res{
	margin-left: 25%;
	width: 50%;
	height: 50%;
	color: white;
	font-size: 200%;
	text-align: center;
}